
osrm.Rproj
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/B5F3FD69/sources/session-2b7b36a6/lock_file
.Rbuildignore
.Rproj.user/B5F3FD69/cpp-definition-cache
.Rproj.user/B5F3FD69/pcs/files-pane.pper
.Rproj.user/B5F3FD69/pcs/source-pane.pper
.Rproj.user/B5F3FD69/pcs/windowlayoutstate.pper
.Rproj.user/B5F3FD69/pcs/workbench-pane.pper
.Rproj.user/B5F3FD69/persistent-state
.Rproj.user/B5F3FD69/rmd-outputs
.Rproj.user/B5F3FD69/saved_source_markers
*.pper
